<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Tweets Bar</title>
    </head>
    <body>
        <div>
            <h3>Followed User's Tweets</h3>
            <h3>Tweets</h3>
            <div>
                {% for tweet in followed_tweets %}
                <li>
                    <a href="/singleTweet/{{ tweet.id }}">{{ tweet.body }}</a>
                    <a href="/profile/{{ tweet.author.id }}"> by {{ tweet.author }}</a>
                    on {{ tweet.tweetTime }}
                </li>
                <!-- <li>tweet.author = {{ tweet.author }}</li>
                <li>tweet = {{ tweet }}</li>
                <li>tweet.id = {{ tweet.id }}</li>
                <li>tweet.author.id = {{ tweet.author.id }}</li>
                <li>tweet.tweetTime = {{ tweet.tweetTime }}</li> -->
                <br>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
