<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Tweets Bar</title>
    </head>
    <body>
        <h2>All Tweets from {{ user }} and those from whom {{ user }} followith:</h2>
        <h3>Followed authors:</h3>
        <div>
            {% for auth in followed_authors %}
                {{ auth }}<span> </span>|<span> </span>
            {% endfor %}
        </div>
        <h3>Tweets</h3>
        <div>
            {% for tweet in gathered_tweets %}
                <li>
                    <div>{{ tweet.body }}</div>
                    <a href="/profile/{{ tweet.author.id }}"> by {{ tweet.author }}</a>
                    <a href="/singleTweet/{{ tweet.id }}">--- {{ tweet.tweetTime }}</a>
                </li>
                <br>
            {% endfor %}
        </div>
        <!-- <div>********displayTweets**********</div>
        <div>Test: followed_authors = {{ followed_authors }}</div>
        <div>Test: gathered_tweets = {{ gathered_tweets }}</div>
        <div>Test: numfollows = {{ numfollows }}</div>
        <div>Test: current_follows = {{ current_follows }}</div>
        <div>Test: following = {{ following }}</div>
        <div>Test: not_following = {{ not_following }}</div> -->

    </body>
</html>
