<head>
        <meta charset="UTF-8">
        <title>Following</title>
    </head>
    <body>
        <h3>@{{ user.username }} ia following</h3>

        <hr> # Add this line
    
        <b><a href="/{{ user.username }}/follows/">Follows:</a></b> {{ user.twitterprofile.follows.count }} -
        <b><a href="/{{ user.username }}/followers/">Followers:</a></b> {{ user.twitterprofile.followed_by.count }}
    
        {% ifnotequal request.user user %}
          <hr>
    
          {% if request.user.djeeterprofile in user.twitterprofile.followed_by.all %}
            <a href="/{{ user.username }}/stopfollow/" class="btn btn-danger">Stop follow</a>
          {% else %}
            <a href="/{{ user.username }}/follow/" class="btn btn-success">Follow</a>
          {% endif %}

        {% endifnotequal %}
        <hr>
        </body>
</html>
