<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TwitterClone</title>
</head>
<body>
    {% include "navbar.html" with current_user=current_user %}
    <h3>
        {{ user }}'s Homepage Content
    </h3>
    <h1>
        What's happening, {{ user }}?
    </h1>
    <br>
    <!-- <div>
        <div>current_user = {{ current_user }}</div>
        <div>tweets = {{ tweets }}</div>
        <div>myuser = {{ myuser }}</div>
        <div>numtweets = {{ numtweets }}</div>
        <div>user = {{ user }}</div>
        <div>current_follow = {{ current_follow }}</div>
        <div>current_follows = {{ current_follows }}</div>
        <div>following = {{ following }}</div>
        <div>not_following = {{ not_following }}</div>
        <div>match = {{ match }}</div>
        <div>viewed_user_id = {{ viewed_user_id }}</div>
        <div>twitteruserid = {{ twitteruserid }}</div>

    </div> -->
    {% include "sidebar.html" with current_user=current_user %}
    {% include "displayTweets.html" with current_user=current_user %}
</body>
</html>
