<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>notification</title>
</head>
<body>
        
    {% include "navbar.html" with current_user=current_user %}
    {% include "sidebar.html" with current_user=current_user %}
    <h1>Here are your notifications, {{ user }}!</h1>
    <ul>
        {% for n in notifications %}
            {% if n.viewed == False %}
                <li>
                    <a href="/singleTweet/{{ n.tweet.id }}">{{ n.tweet.body }}</a>
                    <a href="/profile/{{ n.tweet.author.id }}"> by {{ n.tweet.author }} </a>
                    on {{ n.tweet.tweetTime }}
                    <br>
                    <!-- <div>n.viewed = {{n.viewed}}</div> -->
                </li>
                <!-- {% block content %}
                    {{ n.viewed }} = True
                {% endblock %} -->
            {% endif %}
        {% endfor %}
        </body>
</html>
