<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>TwitterClone</title>
    </head>
    <body>
        {% include "navbar.html" with current_user=current_user %}
        {% include "sidebar.html" with current_user=current_user %}
        <div>
            <h1>{{ current_user }}'s Tweets</h1>

        </div>
        <ul>
            <li>
                {% for tweet in tweets %}
                <li>
                    {{tweet.body}}
                    <a href="/profile/{{ myuser.id }}"> by {{ myuser }} </a>
                     on {{ tweet.tweetTime }}
                </li>
                {% endfor %}
            </li>
            <li>
                user = {{ user }}
            </li>
            <li>
                user.id = {{ user.id }}
            </li>
            <li>
                current_user = {{ current_user }}
            </li>
            <li>
                current_user.id = {{ current_user.id }}
            </li>
            <li>
                myuser = {{ myuser }}
            </li>
            <li>tweet.tweetTime = {{ tweet.tweetTime }}</li>
            <li>tweetTime = {{ tweetTime }}</li>

            <li>tweet.created_on = {{ tweet.created_on }}</li>
            <li>created_on = {{ created_on }}</li>
            <li>numtweets = {{ numtweets }}</li>
            <li>mytweets = {{mytweets}}</li>
            <!-- <li>tweets = {{tweets}}</li> -->
        </ul>
    </body>
</html>
