<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>TwitterClone</title>
    </head>
    <body>
        {% include "navbar.html" with current_user=current_user %}
        {% include "sidebar.html" with current_user=current_user %}
        <div>
            <h1>{{ current_user }}'s Tweets</h1>
        </div>
        <br>
        {% if user.is_authenticated %}
          {% if following %}
            <a href = "/profile/{{ current_user }}/remove_follow">
                <button>
                    Unfollow
                </button>
            </a>
          {% endif %}
          {% if not_following %}
            <a href = "/profile/{{ current_user }}/add_follow">
                <button>
                    Follow
                </button>
            </a>
          {% endif %}
        {% endif %}
        <br>

        <ul>
            <li>
                {% for tweet in tweets %}
                <li>
                    <a href="/singleTweet/{{ tweet.id }}">{{ tweet.body }}</a>
                    <a href="/profile/{{ myuser.id }}"> by {{ myuser }} </a>
                     on {{ tweet.tweetTime }}
                </li>
                {% endfor %}
            </li>
        </ul>
        <br>
        <div>
            <!-- <div>current_user = {{ current_user }}</div>
            <div>tweets = {{ tweets }}</div>
            <div>myuser = {{ myuser }}</div>
            <div>numtweets = {{ numtweets }}</div>
            <div>user = {{ user }}</div> -->
                <!-- <div>current_follow = {{ current_follow }}</div> -->
            <!-- <div>current_follows = {{ current_follows }}</div>
            <div>following = {{ following }}</div>
            <div>not_following = {{ not_following }}</div>
            <div>match = {{ match }}</div>
            <div>viewed_user_id = {{ viewed_user_id }}</div>
            <div>twitteruserid = {{ twitteruserid }}</div> -->

        </div>
        <hr>
    </body>
</html>
