<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>TwitterClone</title>
    </head>
    <body>
        {% include "navbar.html" with current_user=current_user %}
        {% include "sidebar.html" with current_user=current_user %}
        <div>
            <h1>{{ current_user }}'s Tweets</h1>

        </div>
        <ul>
            <li>
                {% for tweet in tweets %}
                <li>
                    <a href="/singleTweet/{{ tweet.id }}">{{ tweet.body }}</a>
                    <a href="/profile/{{ myuser.id }}"> by {{ myuser }} </a>
                     on {{ tweet.tweetTime }}
                </li>
                {% endfor %}
            </li>
        </ul>
    </body>
</html>
