<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Side Bar</title>
    </head>
    <body>
        <div>
            {% if user.is_authenticated%}
            <h3>{{ current_user }}'s sidebar</h3>
            <div>** {{ current_user }} **</div>
            <div>** @{{ current_user }} **</div>
            <div>** number of {{ current_user }}'s tweets: {{ numtweets }} **</div>
            <div>** number of users that {{ current_user }} is following goes here **</div>
            <a href="{% url 'logout' %}">Logout</a>
            {% else %}
            <h3>Generic sidebar</h3>
            <a href="{% url 'login' %}">Login</a>
            <div></div>
            <a href="{% url 'signup' %}">Sign Up</a>
            {% endif %}
        </div>
        <br>
        <!-- *** Adds follows & following functionality *** -->
        <hr> # Add follows/following stuff here:
    
        <br><a href="/{{ user.username }}/follows/">Follows:</a></br> {{ user.djeeterprofile.follows.count }}
        <br><a href="/{{ user.username }}/followers/">Followers:</a></br> {{ user.djeeterprofile.followed_by.count }}
    
        {% ifnotequal request.user user %}
          <hr>
    
          {% if request.user.djeeterprofile in user.djeeterprofile.followed_by.all %}
            <a href="/{{ user.username }}/stopfollow/" class="btn btn-danger">Stop follow</a>
          {% else %}
            <a href="/{{ user.username }}/follow/" class="btn btn-success">Follow</a>
          {% endif %}

        {% endifnotequal %}
        <hr>
    </body>
</html>
