<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Side Bar</title>
    </head>
    <body>
        <div>
            {% if user.is_authenticated%}
              <h3>{{ current_user }}'s sidebar</h3>
              <div>** {{ current_user }} **</div>
              <div>** @{{ current_user }} **</div>
              <div>** number of {{ current_user }}'s tweets: {{ numtweets }} **</div>
                {% if match %}
                  <div>** number of users that you are following: {{ numfollows }} **</div>
                {% else %}
                  <div>** number of users that {{ user }} is following: {{ numfollows }} **</div>
                {% endif %}
            {% endif %}
            <!-- {% if user.is_authenticated%}
              <a href="{% url 'logout' %}">Logout</a>
            {% else %}
              <h3>Generic sidebar</h3>
              <a href="{% url 'login' %}">Login</a>
              <div></div>
              <a href="{% url 'signup' %}">Sign Up</a>
            {% endif %} -->
        </div>
        <!-- <div>*********sidebar************</div>
        <div>Test: followed_authors = {{ followed_authors }}</div>
        <div>Test: followed_tweets = {{ followed_tweets }}</div>
        <div>Test: gathered_tweets = {{ gathered_tweets }}</div>
        <div>Test: numfollows = {{ numfollows }}</div>
        <div>Test: current_follows = {{ current_follows }}</div>
        <div>Test: following = {{ following }}</div>
        <div>Test: not_following = {{ not_following }}</div>
        <div>Test: match = {{ match }}</div> -->
    
        <br>
    </body>
</html>
