<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tweet</title>
</head>
<body>
    {% include "navbar.html" with current_user=current_user %}
    <!-- {% include "sidebar.html" with current_user=current_user %} -->
    <h1>Here is {{ username }}'s tweets, {{ user }}!</h1>
    <br>
    <div>
        <div>Follow/Unfollow button goes here.</div>
        {% if user.is_authenticated %}
            {% if following %}
                <a href = "/user/{{ username }}/unfollow">
                    <button>
                        Unfollow
                    </button>
                </a>
            {% endif %}
            {% if not_following %}
                <a href = "/user/{{ username }}/follow">
                    <button>
                        Follow
                    </button>
                </a>
            {% endif %}
        {% endif %}
    </div>
    <br>
    <div>
        <li>
            {% for t in user_tweetz %}
            <li>{{ t.body }} by <a href="/profile/{{ t.author_id }}">{{ t.author }}</a></li>
            {% endfor %}
        </li>
    </div>
    <div>current_user = {{ current_user }}</div>
    <div>myuser = {{ myuser }}</div>
    <div>user = {{ user }}</div>
    <div>username = {{ username }}</div>
    <div>following = {{ following }}</div>
    <div>not_following = {{ not_following }}</div>
    <div>user_tweetz = {{ user_tweetz }}</div>

</body>
