<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tweet</title>
</head>
<body>
    {% include "navbar.html" with current_user=current_user %}
    {% include "sidebar.html" with current_user=current_user %}
    <h1>Here is {{ username }}'s tweets, {{ user }}!</h1>
    <div>
        <li>
            {% for t in user_tweetz %}
            <li>{{ t.body }} by <a href="/profile/{{ t.author_id }}">{{ t.author }}</a></li>
            {% endfor %}
        </li>
    </div>
</body>
