<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tweet</title>
</head>
<body>
    {% include "navbar.html" with current_user=current_user %}
    <!-- {% include "sidebar.html" with current_user=current_user %} -->
    <h1>Here is an isolated view of that tweet, {{ user }}!</h1>
    <div>
        <li>
            {% for tweet in singleTweet %}
            {{ tweet.body }} by <a href="/profile/{{ tweet.author_id }}">{{ tweet.author }}</a>
            {% endfor %}
        </li>
        <!-- <li>current_user = {{ current_user }}</li>
        <li>singleTweet = {{ singleTweet }}</li>
        <li>tweets = {{tweets}}</li>
        <li>tweetBody = {{tweetBody}}</li>
        <li>myuser = {{myuser}}</li>
        <li>numtweets = {{numtweets}}</li>
        <li>mytweets = {{mytweets}}</li>
        <li>this_id = {{this_id}}</li>
        <li>singleTweetAuthor = {{singleTweet.author}}</li> 
    </div>
</body>
